.parent {
  display: flex;
  flex-direction: row-reverse;
}
.child {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  background-color: crimson;
  margin: 10px;
}
.parent2 {
  display: flex;
  flex-direction: row;
}
.parent2-child1 {
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 300px;
  height: 300px;
}
.parent2-child2 {
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 300px;
  height: 300px;
}
.parent3 img {
  display: none;
}
@media screen and (min-width: 768px) {
  .parent2 {
    flex-direction: column;
  }
  .parent3 img {
    display: block;
  }
  .parent3 p {
    display: none;
  }
} ;
